# desplegar backend por ejemplo railway
DATABASE_URL=
SUPABASE_URL=
SECRET_KEY=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
DEBUG=


# Funcion en local
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=5432
SECRET_KEY=
DEBUG=True

SUPABASE_URL=
SUPABASE_ANON_KEY=

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=